// ipad 810x1080 landscape
@media (max-width: 1080px) {
    h1 {
        font-size: 3.5rem;
    }
    .headerimg {
        background-position: 60%;
    }

} // query end

// ipad portrait, pro max and ultra landscape
@media (max-width: 930px) {


    li {
        width: calc(80% - 60px);
    }

} // query end

// phone portrait
@media (max-width: 500px) {
    html {
        font-size: 100%;
    }

    h1 {
        font-size: 3rem;
    }

    .results li {
        width: 95%;

        .containerimg {
            width: 100%;
            padding: 20px 5px 5px 5px;
        }
        
        h4 {
            font-size: 1.25rem;
        }
    }

} //query end
