//font size
//font weight
//line height
//letter spacing
//font family

//font-family: 'Lato', sans-serif;

//font-family: 'Work Sans', sans-serif;

html {
    font-size: 125%;
}

body, 
button, 
select {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    background-color: $black;
    max-width: 2500px;
    margin: 0 auto;
}

h1,h2,h4 {
    font-family: 'Oswald', sans-serif;
}
h1 {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0.2rem;
    font-weight: 900;
    color: $white;
    text-transform: uppercase;
}

// blog and contact title
h2 {
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    color: $white;
}

//welcome to
h3 {
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
    color: $darkgrey;
    font-weight: 400;
}

h4 {
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    color: $white;
}

p {
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    color: $white;
}