html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body,
button,
select {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  background-color: #151515;
  max-width: 2500px;
  margin: 0 auto;
}

h1, h2, h4 {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: 0.2rem;
  font-weight: 900;
  color: #FFFFFF;
  text-transform: uppercase;
}

h2 {
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  color: #FFFFFF;
}

h3 {
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  color: #5f5f5f;
  font-weight: 400;
}

h4 {
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
}

p {
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
  color: #FFFFFF;
}

*, h1 {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.headerimg {
  background-image: url(../assets/background_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  padding: 35px 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phantomBun {
  width: 30%;
  max-width: 500px;
}
.phantomBun img {
  width: 100%;
  height: auto;
}

.leftSide {
  width: 50%;
}
.leftSide p {
  text-transform: capitalize;
  width: 35%;
  padding: 20px 0;
}
.leftSide h3 {
  color: #8e9399;
  margin: 0 0 60px 0;
}

button {
  border: 1px solid #FABA63;
  background-color: #151515;
  padding: 10px 20px;
  color: #FFFFFF;
}
button:hover {
  background-color: #FABA63;
  color: #151515;
}
button:focus {
  background-color: #FABA63;
  color: #151515;
}

select {
  background-color: #FABA63;
  border: none;
  padding: 5px;
  display: block;
  margin: 20px 0;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.headerTwo {
  text-align: center;
  padding: 100px 0 50px 0;
}
.headerTwo p {
  color: #FABA63;
  padding: 20px;
  font-size: 1.5rem;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 0 100px 0;
  padding: 10px;
  width: calc(50% - 60px);
  background-color: #5f5f5f;
  -webkit-box-shadow: 6px 6px 0 0 #FABA63;
          box-shadow: 6px 6px 0 0 #FABA63;
  cursor: pointer;
}
li:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #FABA63;
}
li:hover p {
  color: #151515;
}
li:hover p:last-child {
  border: 1px solid #151515;
  display: inline;
  padding: 5px 10px;
  margin-bottom: 10px;
}
li:hover p:last-child:hover {
  text-decoration: underline;
}
li:hover h4 {
  color: #151515;
}
li:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #FABA63;
}
li:focus p {
  color: #151515;
}
li:focus p:last-child {
  border: 1px solid #151515;
  display: inline;
  padding: 5px 10px;
}
li:focus p:last-child:focus {
  text-decoration: underline;
}
li:focus h4 {
  color: #151515;
}
li h4 {
  color: #FFFFFF;
}
li p {
  margin-bottom: 15px;
  color: #FFFFFF;
}
li a p {
  color: #FABA63;
  font-style: italic;
}

.containerimg {
  height: auto;
  padding: 20px;
}
.containerimg img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.containerText {
  margin-bottom: 25px;
}

h4 {
  margin: 0 0 10px 0;
}

.departmentOptions > h4 {
  margin: 10px 0 0 0;
}

footer {
  padding: 15px 0;
  background-color: #5f5f5f;
}
footer p {
  text-align: center;
  color: #FFFFFF;
  text-transform: capitalize;
}

.pop {
  position: fixed;
  top: 0;
  width: 100%;
}

@media (max-width: 1080px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  .headerimg {
    background-position: 60%;
  }

  .leftSide p {
    width: 45%;
  }

  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  .container .phantomBun {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .container .departmentOptions {
    position: absolute;
    top: 0;
  }

  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  .container .phantomBun {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .container .departmentOptions {
    position: absolute;
    top: 0;
  }
}
@media (max-width: 930px) {
  .leftSide {
    width: 65%;
  }

  li {
    width: calc(80% - 60px);
  }

  .leftSide p {
    width: 55%;
  }
}
@media (max-width: 768px) {
  .container {
    position: static;
  }
  .container .departmentOptions {
    position: static;
  }
  .container .phantomBun {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 100%;
  }

  .headerimg {
    background-image: none;
  }

  .wrapper {
    width: 90%;
  }

  .leftSide {
    width: 100%;
    text-align: center;
  }
  .leftSide p {
    width: 100%;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .phantomBun {
    width: 50%;
    max-width: 500px;
  }

  .departmentOptions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .departmentOptions button {
    margin: 0;
  }

  select {
    width: 100%;
  }

  li {
    border: 1px solid #FABA63;
    width: 95%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  li .containerimg {
    width: 100%;
    padding: 20px 5px 5px 5px;
  }
  li .containerimg img {
    width: 80%;
    margin: 0 auto;
  }
  li h4 {
    font-size: 1.25rem;
  }
}